@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
  --loader-text-color: #f6e9fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide-scroll::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  height: 0px;
  width: 6px;
  transition: width 0.4s ease-in-out;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00a651;
}

::selection {
  color: white;
  background: #00a651;
}

.fade {
  position: absolute;
  background: linear-gradient(
    90deg,
    #1e293b,
    transparent 30%,
    transparent 70%,
    #1e293b
  );
  inset: 0;
  pointer-events: none;
}

.animation-loop {
  animation: loop 5s linear infinite;
}
@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.slick-dots li button::before {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #00a651;
  opacity: 0.2;
}

.slick-dots li.slick-active button::before {
  color: #00a651;
  opacity: 1;
}

@keyframes scaleUp {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
svg text,
svg circle {
  stroke-width: 2;
  font-size: 5rem;
  letter-spacing: -4px;
}

svg text.text-body,
svg circle {
  stroke: var(--loader-text-color);
  fill: transparent;
  animation: anime-stroke 2s infinite alternate;
}

@keyframes anime-stroke {
  0% {
    fill: transparent;
    stroke: var(--loader-text-color);
    stroke-width: 2;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }

  50% {
    fill: transparent;
    stroke: var(--loader-text-color);
    stroke-width: 2;
  }

  80%,
  100% {
    fill: var(--loader-text-color);
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}

.attend {
  background-image: url("/logo_green.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.loop {
  background-image: url("/loop3.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.join2 {
  background-image: url("/join2.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  background-image: url("/about.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.benefits {
  height: 0.75em;
  font-size: calc(1em + 10px);
}

.benefits span {
  animation: auto-scrool 15s infinite;
}

@keyframes auto-scrool {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-1em);
  }
  30% {
    transform: translateY(-1em);
  }
  35% {
    transform: translateY(-2em);
  }
  55% {
    transform: translateY(-2em);
  }
  60% {
    transform: translateY(-3em);
  }
  80% {
    transform: translateY(-3em);
  }
  85% {
    transform: translateY(-4em);
  }
  100% {
    transform: translateY(-4em);
  }
}
